*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html 
{
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

/***********************************
** Navbar styles
***********************************/

#nav
{
	margin-top: 1em;
	position: absolute;
	right: 0px;
	padding: 0 3% 0 3%;
}

#nav a 
{
	font-size: 1.5em;
}

#bt1 a
{
	text-decoration: none;
	color: white;
}

#bt2 a
{
	text-decoration: none;
	color: white;
}

#bt1:hover
{
	background-color: white;
	transition: all .5 ease;
}

#bt1:hover > a
{
	color: black;
}

#bt2:hover
{
	background-color: white;
	transition: all .5 ease;
}

#bt2:hover > a
{
	color: black;
}

/***********************************
** Intro Styles
***********************************/

h3
{
	font-size: 1.6em;
	text-align: center;
	color: white;
	margin-bottom: 1em;
	font-weight: bold;
}

button
{
  background-color: #06315c;
  border: none;
  color: white;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 12px;
}

#intro
{
	display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.descriptions
{
	margin-top: 70vh;
	margin-left: 40%;
	position: absolute;
}


.logo
{
	top: 34vh;
	left: 33vw;
	position: absolute;
	z-index: 1;
}

.app-playstore
{
	box-sizing: border-box;
	display: inline-flex;
}

.app-playstore-link-image
{
	width: 200px;
	height: auto;
	border: 0;
	margin: 0 0 15px;
	padding: 0;
}

.redes
{
	box-sizing: border-box;
	position: absolute;
	top: 77vh;
	left: 88vw;
}

.redes img
{
	width: 40%;
}

/***********************************
** Second Section Styles
***********************************/

.text-title
{
	color: #558cc2;
	font-weight: bold;
	margin-top: 2em;
	text-align: center;
	font-size: 3em;
}

.text-subtitle
{
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* GRID */
.grid-wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin-top: 3.5em;
    padding: 0 20% 0 20%;
    margin-bottom: 3em;
}

.box
{
	border-radius: 0.7em;
    box-shadow: 0 1px 8px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    height: 23em;
    transition: all .5s ease;
}

.box p
{
	text-align: center;
	font-size: 1em;
	color: #395166;
}

.box > .text-subtitle
{
	 color: #395166;
	 font-size: 1.6em;
}

.box:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box > img {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1em;
}

#explanation > p:nth-child(3)
{
	padding: 0 7% 0 7%;
	word-spacing: 10px;
	font-size: 1em;
	color: #395166;
	line-height: 1.6;
}

/***********************************
** Third Section Styles
***********************************/

#damage
{
	background-color: #558cc2;
	width: 100%;
	height: 100%;
}

#damage p 
{
	color: white;
	line-height: 1.3;
}

#damage > img
{
	position: absolute;
	top: 210%;
	left: 60%;
}

.title-test
{
	padding: 10% 0 0 3%;
	color: white;
	text-align: left;
	font-size: 2em;
	margin-top: 1em;
}

#damage .title-test:nth-child(5)
{
	font-size: 1.5em;
}

.prueba
{
	margin-top: 2em;
	font-size: 1.3em;
	padding: 0 70% 0 4%;
	font-weight: lighter;
}

/***********************************
** Footer Styles
***********************************/

footer
{
	background-color: #bedcfa;
	text-align: center;
	padding-top: 6em;
}

#suscribe-footer
{
	display: inline-grid;
	background-color: #06315c;
	border-radius: 10px;
	width: 28%;
	position: absolute;
	margin-top: -10%;
	margin-left: -13%;
}

#suscribe-footer > label
{
	color: white;
	font-size: 1.3em;
}

#suscribe-footer > input
{
	height: 3em;
	border-radius: 7px;
	border-color: white;
	margin: 0 0 7% 10%;
	width: 80%;
}

.redes-footer
{
	padding: 1% 0 1% 0;
}

.copyright
{
	font-size: 0.9em;
}

/***********************************
** Media Queries
***********************************/

/* Extra large devices (desktops, 800px and up) */
@media only screen and (min-width: 972px) and (max-width:1600px) 
{
	.logo
	{
		top: 20vh;
		left: 25vw;
	}

	.descriptions
	{
		left: 5vw;
    	margin-left: 30%;
    	margin-top: 0;
    	top: 60vh;
	}

	.redes
    {
    	top: 84vh;
    	left: 45vw;
    }

    #damage > img
	{
		position: absolute;
		left: 55vw;
	}

	#suscribe-footer
	{
		position: absolute;
		margin-top: -10%;
		margin-left: -13%;
	}
}

/* Large devices (desktops, 800px and up) */
@media only screen and (min-width: 710px) and (max-width:970px) 
{
	.logo
	{
		top: 10vh;
		left: 13vw;
	}

	.descriptions
	{
		left: 5vw;
    	margin-left: 20%;
    	margin-top: 0;
    	top: 57vh;
	}

	.box > img 
	{
	    width: 45%;
	    margin-left: 30%;
	    margin-bottom: 1em;
	}

	.redes
    {
    	top: 84vh;
    	left: 45vw;
    }

    #damage
    {
    	height: 120%;
    }

    #damage > img
	{
		position: absolute;
		margin-top: 160%;
	}

	#suscribe-footer
	{
		position: absolute;
		margin-top: -20%;
		margin-left: -13%;
	}
	
}

@media only screen and (max-width: 700px) { /* Responsividad de la pantalla */
    #damage > img
    {
    	display: none;
    }

    .grid-wrapper
    {
    	padding: 0 20% 0 13%;
    }

    .prueba
    {
    	font-size: 1em;
    	padding: 0 7% 0 7%;
		word-spacing: 10px;
		line-height: 1.3;
    }

    .logo
    {
    	width: 80%;
    	top: 25vh;
    	left: 15vw;
    }

    .descriptions
    {
    	left: 5vw;
    	margin-left: 5%;
    	margin-top: 0;
    	top: 47vh;
    }

    .descriptions img
    {
    	margin-left: 16vw;
    }

    .redes
    {
    	top: 84vh;
    	left: 39vw;
    }

    #suscribe-footer
	{
		position: absolute;
		margin-top: -20%;
		margin-left: -13%;
	}
}

@media only screen and (max-width: 700px) { /* Responsividad de la pantalla */
	#suscribe-footer
	{
		position: absolute;
		margin-top: -45%;
		margin-left: -25%;
		width: 50%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  
{
	#damage > img
	{
		position: absolute;
		margin-top: 120%;
		margin-left: -20%;
	}
}